<div class="card-body">
    <div class="container">
        <div class="mb-3">
            <label for="regionsCountryDD"
                   class="form-label">{{label}} </label>
            <select class="form-control"
                    id="regionsCountryDD"
                    (change)="onSelected($event)">
                <option value="">- Select -</option>
                <option *ngFor="let data of dataset"
                        [value]="data.name">{{ data.name }}</option>
            </select>
        </div>
    </div>
</div>